flask-script==2.0.5
flask
dnspython
wtforms
flask_wtf
SQLAlchemy
sanitizy
requests
flask-limiter
flask-admin
git+https://github.com/ozgur/python-firebase
firebase-admin
google-cloud-storage
Flask-SQLAlchemy
Flask-reCaptcha
Flask-Mail
Werkzeug==2.0.0
gunicorn
itsdangerous
jinja2==3.0.0
Sqlalchemy-Utils
python-jose
pymongo
boto3